@import "tailwindcss";

@font-face {
  font-family: 'Pixelated';
  src: url('../fonts/Pixelated.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}
@theme {
  --font-pixelated: "Pixelated", sans-serif;
}
